.main{
    height: 200px;
    width: 1550px;
    margin: 0px auto;
    border: 1px solid rgb(0, 26, 255);
    background-color:rgb(26, 153, 68);
    text-align: center;
}
.i1{
    height: 25px;
    width: 250px;
    margin: 10px ;
    text-align: center;

}

.i2{
    height: 25px;
    width: 250px;
    margin: 10px ;
    text-align: center;

}
.i3{
    height: 25px;
    width: 200px;
    margin: 5px ;
    background-color: cadetblue;

}




